---

---

<footer class="shadow-inner shadow-teal-300 h-fit">
	<div class="w-[80rem] mx-auto pt-16 select-none">
		<div class="mx-auto font-bold w-fit text-center">
			<img src="/devlogs.png" class="h-16 mb-4" />
			<span class="text-sm font-serif font-medium">Nitish Kumar</span>
		</div>
	</div>
</footer>
