---
import Navbar from "../components/Navbar.astro";
import TopHeader from "../components/TopHeader.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.cdnfonts.com/css/helvetica-neue-55"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev logs | {title}</title>
	</head>
	<body class="w-full bg-[#f9f9fe]">
		<Fragment>
			<header class="w-[80rem] h-fit mx-auto pt-16">
				<TopHeader />
				<Navbar />
			</header>

			<slot />
		</Fragment>
	</body>
</html>
